@model List<Webbanhang.Context.Product> 
@{
    ViewBag.Title = "ProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ========================= SECTION CONTENT ========================= -->
<div class="container">
    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="@Url.Action("Index","Home", new {})" class="brand-wrap">
                            <img class="logo" src="~/Content/images/logo.png">
                        </a> <!-- brand-wrap.// -->

                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <form action="@Url.Action("Search","Home")" class="search-header" name="timkiem">
                            <div class="input-group w-100">
                                @*<input type="text" name="search" class="form-control" />
                    <input type="submit" name="submit" value="tìm kiếm" class="form-control"/>*@


                                <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="key">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </form> <!-- search-wrap .end// -->
                    </div><!-- col.// -->                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header mr-3">
                                <a href="@Url.Action("Login","Home", new {})" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-user"></i>
                                    </div>


                                    @if (Session["idUser"] != null)
                                    {
                                        <small class="text">
                                            <a href="~/Admin/Product/Index">Trang Admin </a>
                                        </small>
                                        <a href="~/Home/Logout">Đăng Xuất </a>

                                    }
                                    else
                                    {
                                        <small class="text">
                                            <a href="~/Home/Login">Đăng Nhập</a>
                                        </small>
                                    }

                            </div>

                            <div class="widget-header mr-3">
                                <a href="@Url.Action("Register","Home", new {})" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <small class="text">@Html.ActionLink("Đăng Ký", "Register", "Home", new { }, null) </small>
                                </a>
                            </div>
                            @*<div class="widget-header mr-3">
                    <a href="@Url.Action("Listing","Grid", new {})" class="widget-view">
                        <div class="icon-area">
                            <i class="fa fa-store"></i>
                        </div>
                        <small class="text"> @Html.ActionLink("Đặt hàng", "Listing", "Grid", new { }, null) </small>
                    </a>
                </div>*@
                            <div class="widget-header">
                                <a href="@Url.Action("Index","Cart", new {})" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="notify" id="CartCount">@Session["count"]</span>
                                    </div>
                                    <small class="text">@Html.ActionLink("Giỏ hàng", "Index", "Cart", new { }, null)</small>
                                </a>
                            </div>
                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->
        </section> <!-- header-main .// -->


        <nav class="navbar navbar-main navbar-expand-lg border-bottom">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            
                           
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Trang cần tìm</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" @Html.ActionLink("Trang chủ", "Index", "Home")</a>
                                @*<a class="dropdown-item" @Html.ActionLink("Tất cả danh mục", "Index", "Category")</a>
        <a class="dropdown-item" @Html.ActionLink("Danh sách liệt kê", "Listing", "Large")</a>
        <a class="dropdown-item" @Html.ActionLink("Danh sách lưới", "Listing", "Grid")</a>
        <a class="dropdown-item" @Html.ActionLink("Giỏ hàng", "Index", "Category")</a>*@
                                <a class="dropdown-item" @Html.ActionLink("Tất cả danh mục", "Index", "Category")</a>
                                <a class="dropdown-item" @Html.ActionLink("Trang Đăng Nhập", "Login", "Home")</a>
                                <a class="dropdown-item" @Html.ActionLink("Trang Đăng Ký", "Register", "Home")</a>

                            </div>
                        </li>
                    </ul>

                </div> <!-- collapse .// -->
            </div> <!-- container .// -->
        </nav>
    </header> <!-- section-header.// -->
    <!-- ============================  FILTER TOP  ================================= -->
    <div class="card mb-3">
        <div class="card-body">
            <ol class="breadcrumb float-left">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home", new {})">Nhà</a></li>

            </ol>
        </div> <!-- card-body .// -->
    </div> <!-- card.// -->
    <!-- ============================ FILTER TOP END.// ================================= -->


    <div class="row">
        <aside class="col-md-2">

            <article class="filter-group">
                <h6 class="title">
                </h6>
                <div class="filter-content collapse show" id="collapse_1" style="">
                    <div class="inner">
                        <ul class="list-menu">
                        </ul>
                    </div> <!-- inner.// -->
                </div>
            </article> <!-- filter-group  .// -->
            <article class="filter-group">
                <h6 class="title">
                </h6>
                <div class="filter-content collapse show" id="collapse_2">
                    <div class="inner">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">

                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">

                        </label>
                    </div> <!-- inner.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <h6 class="title">
                </h6>
                <div class="filter-content collapse show" id="collapse_3">

                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <h6 class="title">
                </h6>
                <div class="filter-content collapse show" id="collapse_4">

                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <h6 class="title">
                </h6>
                <div class="filter-content collapse show" id="collapse_5">

                </div>
            </article> <!-- filter-group .// -->

        </aside> <!-- col.// -->
        <main class="col-md-10">


            <header class="mb-3">
                <div class="form-inline">
                    <strong class="mr-md-auto">9 sản phẩm trống</strong>
                    @*<select class="mr-2 form-control">
                        <option>Sản phẩm mới nhất</option>
                        <option>Thời thượng</option>
                        <option>Sản phẩm phổ biến</option>
                        <option>Giá rẻ</option>
                    </select>*@
                    @*<div class="btn-group">
                        <a href="https://localhost:44335/Grid/Listing" class="btn btn-light" data-toggle="tooltip" title="List view">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a href="https://localhost:44335/Large/Listing" class="btn btn-light active" data-toggle="tooltip" title="Grid view">
                            <i class="fa fa-th"></i>
                        </a>
                    </div>*@
                </div>
            </header><!-- sect-heading -->
            @foreach (var item in Model)
            {
                <article class="card card-product-list">
                    <div class="row no-gutters">
                        <aside class="col-md-3">
                            <a href="@Url.Action("Detail","Product", new {id=item.Id})" class="img-wrap">
                                <span class="badge badge-danger"> NEW </span>
                                <img src="~/Content/images/items/@item.Avartar">

                            </a>
                        </aside> <!-- col.// -->
                        <div class="col-md-6">
                            <div class="info-main">
                                <a href="@Url.Action("Detail","Product", new {id=item.Id})" class="h5 title"> @item.Name</a>
                                <div class="rating-wrap mb-2">
                                    <ul class="rating-stars">
                                        <li style="width:100%" class="stars-active">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <div class="label-rating">9/10</div>
                                </div> <!-- rating-wrap.// -->

                                <p class="mb-3">
                                    <span class="tag"> <i class="fa fa-check"></i> Hàng Chuẩn</span>
                                    <span class="tag"> 5 năm </span>
                                    <span class="tag"> 8000 Lượt xem </span>
                                    <span class="tag"> Mỹ </span>
                                </p>

                                <p>
                                    @item.ShortDes
                                </p>

                            </div> <!-- info-main.// -->
                        </div> <!-- col.// -->
                        <aside class="col-sm-3">
                            <div class="info-aside">
                                <div class="price-wrap">
                                    <span class="h5 price">@item.Price</span>
                                    <small class="text-muted"></small>
                                </div> <!-- price-wrap.// -->
                                <small class="text-warning">Ship miễn phí</small>

                                <p class="text-muted mt-3">San Fransico- Mỹ</p>
                                

                                <label class="custom-control mt-3 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    
                                </label>

                            </div> <!-- info-aside.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                </article>
            }
            <!-- card-product .// -->

            <nav class="mb-4" aria-label="Page navigation sample">
                <ul class="pagination">
                </ul>
            </nav>





        </main> <!-- col.// -->

    </div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Cung cấp các xu hướng sản phẩm mới nhất và tin tức ngành trực tiếp vào hộp thư đến của bạn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
<!-- ========================= FOOTER ========================= -->
